#main-nav {
  background: $red;
  border-bottom: 1px solid darken($red, 5%);
  box-shadow: 0 2px 4px transparentize(black, 0.75);
  display: flex;
  height: 54px;
  padding: 0 20px;
  position: relative;
  z-index: 1;

  .logo {
    background: url('../images/logo.png') center no-repeat;
    background-size: cover;
    display: block;
    height: 36px;
    margin: 8px 0;
    text-indent: -9999px;
    width: 132px;
  }

  ul {
    border-left: 1px solid darken($red, 5%);
    display: flex;
    font-weight: 700;
    list-style: none;
    margin: 0;
    margin-left: 40px;
    padding: 0;

    a {
      color: #fff;
      display: block;
      border-right: 1px solid darken($red, 5%);
      height: 54px;
      font-family: Montserrat, serif;
      font-size: .8em;
      line-height: 38px;
      padding: 8px 24px;
      text-decoration: none;
      text-transform: uppercase;
      text-shadow: 0 1px 2px transparentize(black, 0.6);
      transition: .2s;

      @media (max-width: 1023px) {font-size: .65em;}

      &.active,
      &:hover {
        background: darken($red, 5%);
      }
    }
  }
}
